* {
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
  }







 
 /*               HEADER                */


 .corFundoH{

    height: 60px;
    width: 100%;
    background-color: green;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo{

    width: 125px;
    height: 34px;
    margin-bottom: 24px;
    margin-left: 167px;

}

.nave{

    display: flex;
    margin-right: 161px;
}


.nave a{

    text-transform: none;
    text-decoration: none;
    color: white;
    padding-right: 25px;
    font-size: 12px;
    margin-top: 5px;

}

.imgHeader{

width: 28px;
height: 28px;
border-radius: 20px;
background-color: violet;
margin-right: 20px;

}

.iconeUC{

    width: 28px;
    height: 28px;
    margin-bottom: 10px;
    margin-right: 10px;

}

.sair{

    width: 15px;
    height: 15px;
    margin-top: 5px;

}



 /* ................................... */

 .divisaoPrin{


    display: flex;
    justify-content: center;


 }

 .divisaoPrinc2{


    display: flex;
    justify-content: space-between;


 }



 .divisaoPrinc{


    display: flex;
    justify-content: space-between;


 }

.divisaoFundo{
    display: flex;

}

.blocoInfo{

    width: 300px;
    height: 620px;
    border-right: 2px solid #000000;border-right: 2px solid #000000;
    
}

.posicaoI{

    justify-content: center;
    display: flex;

}

.selecaoLinhas{

    display: flex;
    margin: 84px 47px;

}

.linha{

    width: 3px;
    height: 170px;
    background-color: #C4C4C4;
    opacity: 10px;
    margin-right: 15px;

}

.dividirLinha{

    display: flex;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 5px;

}

.iconeU{

    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    margin-right: 10px;

}



.dividirLinha h1{
    font-size: 15px;


}

.dividirLinha h3{
    font-size: 12px;
    margin-right: 6px;

}

.circuloFoto{

    height: 170px;
    width: 170px;
    border-radius: 170px;
    margin-top: 50px;
    margin-right: 45px;

}



.boneco img{

    justify-content: flex-start;
    width: 100px;
    margin-top: 375px;
    margin-left: 13vh;

}

.boneco2 img{

    justify-content: flex-start;
    width: 194px;
    margin-top: 375px;
    margin-left: 13vh;

}

/* --------------- Centro ------------------ */

.blocoCentralPrincipal{

    margin: 81px 86px;

    /* 
    
    Colocar Barra de Rolagem
    
    overflow-y: scroll;
    height: 619px;  
    
    */


}

/* .blocoCentralPrincipal::-webkit-scrollbar{

     tamanho 

} */

/* .blocoCentralPrincipal::-webkit-scrollbar-thumb{

    barrinha de rolagem


} */

/* .blocoCentralPrincipal::-webkit-scrollbar-track{

    fundo da barra


} */

.divisao{

    display: flex;
    margin-bottom: 50px;
    justify-content: center;

}

.divisao img{

    width: 18px;
    height: 18px;
    margin-right: 10px;
    margin-top: 3px;

}

.divisao h1{

    font-size: 21px;
    
}



.blocoCentral{

    height: 150px;
    width: 550px;
    border: 2px solid #000000;
    margin-bottom: 15px ;
    border-radius: 10px;
    display: flex;

}

.blocoCentral img{

    height: 80px;
    width: 80px;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 200px ;

}

.blocoCentral p{
    font-size: 12px;
}

.blocoCentral h2{
    font-size: 14px;
}

.informacoes{

    margin-left: 8px;
    margin-top: 15px;

}

.informacoes p{

    margin-bottom: 5px;

}

.botaoEC2{

    height: 20px;
    width: 150px;
    background-color: #F58735;
    border-radius: 5px;
    margin-top: 12px;
    margin-right: 14px;

}

.botaoEC2 p{

     color: white;

}

.letraBtn{

    color: white;
    text-transform: none;
    text-decoration: none;

}

.chat{

    width: 90px;
    margin-top: 528px;
    margin-left: 50px;

}


/* FOOTER */


.corFundoF{

    height: 150px;
    width: 100%;
    background-color: black;

}

.divisaoF{

    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.divisaoFDN img{

    width: 24px;
    height: 22px;
    margin-right: 16px;

}

.divisaoFD{

    margin-top: 5px;
    display: flex;

}
.divisaoFD p{

    margin-top: 10px;
}

.divisaoFD img{

    width: 30px;
    height: 30px;

}



.logoF{

    width: 100px;
    height: 28px;
    margin-top: 3px;
}

.baixoL{

    width: 209px;
    margin-left: 19px;

}

.localizacao{

    display: flex;
    width: 200px;
    margin-top: 10px;

}

.divisaoF p{
    color: white;
    font-size: 8px;
}



.localizacao img{
    width: 55px;
    height: 20px;
}




.bloquinho{

    height: 22px;
    width: 62px;
    border-radius: 18px;
    background-color: greenyellow;
    margin-right: 19px;
    margin-top: 7px;


}

.bloquinho2{

    height: 22px;
    width: 62px;
    border-radius: 18px;
    background-color: red;
    margin-right: 19px;
    margin-top: 7px;


}
